
*.pt
*.pth
.ipynb_checkpoints/
__pycache__/
*.ipynb

dataset/*
!dataset/.gitkeep

model/weights/*
!model/weights/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

output/videos/*
!output/videos/.gitkeep

output/json/*
!output/json/.gitkeep

output/calibration/*
!output/calibration/.gitkeep
